src/main/resources/messageIn.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="row" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="mesId"/>
                            <xs:element type="xs:string" name="status"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

<!--
<?xml version="1.0" encoding="utf-8"?>
<root>
    <row>
      <MesID>0001</MesID>
      <Status>D</Status>
    </row>
    <row>
      <MesID>0002</MesID>
      <Status>E</Status>
    </row>
    <row>
      <MesID>0003</MesID>
      <Status>W</Status>
    </row>
    <row>
      <MesID>0004</MesID>
      <Status>D</Status>
    </row>
    <row>
      <MesID>0005</MesID>
      <Status>D</Status>
    </row>
</root>
-->